<?xml version="1.0" encoding="utf-8"?>
<!-- 
    This file is part of QuickMeeting.

    QuickMeeting is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    QuickMeeting is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with QuickMeeting.  If not, see <http://www.gnu.org/licenses/>.    
 -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.necora.quickmeeting"
      android:versionCode="5"
      android:versionName="1.1.2">
    <uses-sdk android:minSdkVersion="7" />

    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".HomeActivity"
                  android:label="@string/app_name"
                  android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
		<provider android:name="com.necora.quickmeeting.contentprovider.QuickMeetingContentProvider" 
		          android:authorities="com.necora.quickmeeting.contentprovider.QuickMeetingContentProvider">		   
		</provider>		
		<activity android:name=".ResourceManagerActivity"
		          android:label="@string/manageResources">		    
		</activity>
		<activity android:name=".PreferencesActivity"
		          android:label="@string/configuration">		    
		</activity>
		<activity android:name=".AboutActivity"
		          android:label="@string/about"
		          android:screenOrientation="landscape">		    
		</activity>
		<activity android:name=".WebViewerActivity"	>		    
		</activity>
		<activity android:name=".WelcomeActivity">		    
		</activity>
		<activity android:name=".AccountManagerActivity">		    
		</activity>
    </application>
    
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
        
</manifest>
